node_modules/
dist/*
!dist/src/
dist/src/*
!dist/src/index.js
!dist/src/index.d.ts
!dist/src/ssh.js
!dist/src/ssh.d.ts
!dist/src/channel.js
!dist/src/channel.d.ts
!dist/src/pty-helper.js
!dist/src/pty-helper.d.ts
!dist/src/workspace.js
!dist/src/workspace.d.ts
.DS_Store
